<h1>Available Classes 2023</h1>
<p><b>Writing: </b> This class is for anyone who wants to get better at writing.</p>
<p><b>Math: </b> This class is for anyone who wants to get better at math.</p>
<p><b>History: </b> This class is for anyone who wants to get better at history.</p>
<p><b>Music: </b> This class is for anyone who wants to get better at music.</p>
<p><b>Computer Coding: </b> This class is for anyone who wants to get better at computer coding.</p>

<h1>Unavailable Classes 2023</h1>
<p><b>FULL Wrestling </b> This class is for anyone who wants to get better at wrestling.</p>
<p><b>FULL Science: </b> This class is for anyone who wants to get better at science.</p>
<p><b>FULL Art: </b> This class is for anyone who wants to get better at art.</p>
<p><b>CANCELLED Woodsplitting and ax wielding: </b> This class is for anyone who wants to get better at splitting firewood.</p>