<div id="<%= dom_id job %>">
  <p>
    <strong>Company:</strong>
    <%= job.Company %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= job.Position %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job.location %>
  </p>

</div>
